body
{
margin:0px;
font-family: 'Roboto', sans-serif;
}
#container
{
    width:1420px;
    margin-left:auto;
    margin-right:auto;
}
.clear
{
    clear:both;
}
a:link
{
    color:#000;
    text-decoration:none;
}
a:visited
{
    color:#000;
}
a:hover
{
    opacity:40%;
}

/*--------------------------------- menu ----------------------------------------*/

#back
{
    float:left;
    margin-top:43px;
    margin-bottom:30px;
    margin-left:80px;
    font-weight:500;
    width:200px;
    
}

#card
{
    float:left;
    margin-top:43px;
    margin-left:400px;
    font-weight:500;
    width:70px;
}

#checkout
{
    
    margin-top:43px;
    margin-right:60px;
    font-weight:500;
    float:right
}

#box
{
    height:900px;
    margin-left:80px;
    margin-right:60px;
}

/*---------------------------------  data form  ----------------------------------------*/

input[type=text]
{
    width:550px;
    height:35px;
    border: solid 1px #000;
    margin-bottom:10px;
    font-size:13px;
}
input[type=email]
{
    width:550px;
    height:35px;
    border: solid 1px #000;
    margin-bottom:10px;
    font-size:13px;
}
input[type=tel]
{
    width:550px;
    height:35px;
    border: solid 1px #000;
    margin-bottom:10px;
    font-size:13px;
}
h2
{
    font-size:20px;
}

.reg
{
    font-size: 12px;
    position:relative;
    top:26px;
    left:30px;
}

input[type=checkbox]
{
width:30px;
height:30px;
}

input[type=submit]
{
position:relative;
top:45px;
left:-33px;
width:550px;
height:40px;
border:solid 1px #000;
font-size:16px;
background-color:#000;
color:#fff;
transition:ease-out 0.5s;
outline:none;
}

input[type=submit]:hover
{
    cursor:pointer;
    opacity:0.7;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

#php
{
    position:relative;
    top:-598px;
    left:780px;
    width:500px;
    height:400px;
    
}
#zamowienie
{
    float:left;
    margin-right:50px;
    width:200px;

}
#rozmiar
{
    float:left;
    width:60px;
    text-align:center;

}
#cena
{
    float:right;
    width:80px;
   
}

/*--------------------------------- footer ----------------------------------------*/
#footer
{
    width:350px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:12px;
}
.fot, .fot1
{
    margin-left:10px;
    margin-right:10px;
    font-size:10px;
    float:left;
    color:#000;
    
}

.fot a:link
{
    text-decoration:none;
    color:#000;
}

.fot a:visited
{
    color:#000;
}
.fot a:hover
{
    text-decoration:underline;
    opacity:1;
}
.fot1 a:link
{
    text-decoration:none;
    color:#000;
}

.fot1 a:visited
{
    color:#000;
}
.fot1 a:hover
{
    text-decoration:underline;
    opacity:1;
}
#stopka
{
    margin-top:-280px;
    margin-bottom:15px;
    width:315px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}

/*--------------------------------- table ----------------------------------------*/

table, td, tr{border:1px solid black; padding: 10px; border-collapse: collapse}
table
{
    margin: 0 auto;
    font-size: 14px;
    text-align:center;
    
}

/*--------------------------------- Mobile ----------------------------------------*/

@media only screen and (max-width: 500px) {

#container
{
    width:500px;
    overflow:hidden;
    
}

/* menu */
#back
{
    margin-top:30px;
    margin-left:21px;
    width:105px;
}

#card
{
    float:left;
    margin-top:30px;
    margin-left:95px;
    font-weight:500;
    width:70px;
}

#checkout
{
    
    margin-top:30px;
    margin-right:21px;
    font-weight:500;
    float:right
}


/* form */
#box
{
    height:900px;
    width:500px;
    margin-top:500px;
    margin-left:0px;
    margin-right:0px;
}

input[type=text]
{
   margin-left:25px;
    width:450px;
    height:35px;
    border: solid 1px #000;
    margin-bottom:10px;
    font-size:13px;
}
input[type=email]
{
    width:450px;
    height:35px;
    border: solid 1px #000;
    margin-left:25px;
    margin-bottom:10px;
    font-size:13px;
}
input[type=tel]
{
    width:450px;
    height:35px;
    border: solid 1px #000;
    margin-left:25px;
    margin-bottom:10px;
    font-size:13px;
}
h2
{
    margin-left:25px;
    font-size:20px;
}
.dane
{
    margin-left:25px;
}
.reg
{
    font-size: 14px;
    width:420px;
    position:relative;
    top:22px;
    left:50px;
}
input[type=checkbox]
{
    position:relative;
    top:-20px;
    width:15px;
    height:15px;
    margin-left:28px;
}

input[type=submit]
{
    position:relative;
    top:45px;
    left:5px;
    width:400px;
    height:40px;
    border:solid 1px #000;
    font-size:16px;
    background-color:#000;
    color:#fff;
    transition:ease-out 0.5s;
    outline:none;
}
input[type=submit]:hover
{
    cursor:pointer;
    opacity:0.7;
}
#php
{
    position:relative;
    top:-1080px;
    left:25px;
    width:450px;
    height:400px;
    
}

/* footer */
.footer
{
    width:200px;
    margin-top:490px;
    margin-left:auto;
    margin-right:auto;
}

.fot
{
    font-size:12.5px;
    
}
.fot1
{
    margin-top:5px;
    margin-left:25px;
    font-size:12.5px;
    margin-bottom:25px;
}


.fot a:link
{
    text-decoration:none;
    color:#000;
}

.fot a:visited
{
    color:#000;
}
.fot a:hover
{
    text-decoration:underline;
    opacity:1;
}
.fot1 a:link
{
    text-decoration:none;
    color:#000;
}

.fot1 a:visited
{
    color:#000;
}
.fot1 a:hover
{
    text-decoration:underline;
    opacity:1;
}
#stopka
{
    margin-top:-280px;
    margin-bottom:15px;
    width:315px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}

/* table */
table, td, tr
{
    border:1px solid black; padding: 10px;
    border-collapse: collapse;
}

table
{
    margin: 0 auto; font-size: 14px;
    text-align:center;
}

