body
{
margin:0px;
font-family: 'Roboto', sans-serif;
}
#container
{
    width:1420px;
    margin-left:auto;
    margin-right:auto;
}
.clear
{
    clear:both;
}
a:link
{
    color:#000;
    text-decoration:none;
}
a:visited
{
    color:#000;
}
a:hover
{
    opacity:40%;
}


/*----------------------------------------- Menu -----------------------------------*/



#back
{
    float:left;
    margin-top:43px;
    margin-bottom:30px;
    margin-left:80px;
    font-weight:500;
    width:200px;
    
}


#card
{
    float:left;
    margin-top:43px;
    margin-left:400px;
    font-weight:500;
    width:70px;
}

#checkout
{
    
    margin-top:43px;
    margin-right:60px;
    font-weight:500;
    float:right
}


/*---------------------------------- Item ---------------------------------------*/

/* photos */

.column {
  padding: 10px;
  margin-left:60px;
  margin-top:13px;
}


.column img {
    width:110px;
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
  opacity: 1;

}
.container
{
    height:1px;
}
.container img
{
    width:500px;
    height:500px;
    position: relative;
    top:23px;
    left:200px;
}

#expandedImg img
{
    width:500px;
    width:500px;
}

/* size */

.size
{
    width:600px;
}
.size p
{
    font-weight:300;
    font-size:15px;
}

.sizes, .sizes2, .sizes3, .sizes4
{
    display:grid;
    width:40px;
    height:40px;
    color:#fff;
    float:left;
    background-color:gray;
}
.sizes2
{
    margin-left:150px;
}
.sizes3
{
    margin-left:150px;
}

.sizes4
{
    float:right;
}

.box
{
    position:relative;
    top:-250px;
    left:750px;
    width:600px;
    height:500px;
    overflow:hidden;
    
}

/* product info */

.prodname,.prodname1
{
font-size:22px;
float:left;
}
.price
{
   
    float:right;
    text-align:right;
}

.hidebox
{
    display:none;
    
}

.roz1
{
    color:white;
  margin-left:5px;
}
.roz2
{
    color:white;
    margin-left:2.5px;
}
.roz3
{
    color:white;
    margin-left:5px;
}
.roz4
{
    color:white;
  margin-left:1px;
}
/* form  */

.lbl-radio
{
    width:10px;
    height:10px;
    padding:10px;
    border-box: 1px solid #000;
    cursor:pointer;
    overflow: hidden;
}


.display-box .size
{
    
    font-size:10px;
    margin-bottom:5px;

}

input[type=radio]:checked + .lbl-radio
{
    width:20px;
    height:20px;
    background-color:#000;
}

/* button checkout */
.dokoszyka
{
    background-color:#000;
    text-align:center;
    color:#fff;
    width:600px;
    height:45px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    font-size:15px;
    float:left;
    box-shadow: inset 0 0 0 0 black;
    transition:ease-out 0.5s;
    outline:none;
    margin-top:15px;
    margin-bottom:15px;
}

.dokoszyka:hover
{
    cursor:pointer;
    width:600px;
    opacity:0.7;
}

/*---------------------------------- Footer ---------------------------------------*/

.footer
{
    width:350px;
    margin-top:-100px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    overflow:hidden;
    
}
.fot, .fot1
{
  padding:10px;
  font-size:10px;
    float:left;
}
.fot a:link
{
    text-decoration:none;
    color:#000;
}

.fot a:visited
{
    color:#000;
}
.fot a:hover
{
    text-decoration:underline;
    opacity:1;
}
.fot1 a:link
{
    text-decoration:none;
    color:#000;
}

.fot1 a:visited
{
    color:#000;
}
.fot1 a:hover
{
    text-decoration:underline;
    opacity:1;
}
#stopka
{
    margin-top:150px;
    margin-bottom:15px;
    width:315px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    background-color:red;
    overflow:hidden;
}
/*----------------------------------- Mobile -------------------------------------*/

@media only screen and (max-width: 500px) {

#container
{
    width:500px;
    
}

#logo
{
    margin-top:15px;
    margin-left:150px;
    width:105px;
}

/*---------------------------------- Menu ---------------------------------------*/

#back
{
    margin-top:30px;
    margin-left:21px;
    width:105px;
    
}

#card
{
    float:left;
    margin-top:30px;
    margin-left:95px;
    font-weight:500;
    width:70px;
}

#checkout
{
    
    margin-top:30px;
    margin-right:21px;
    font-weight:500;
    float:right
}


/*---------------------------------- item  ---------------------------------------*/
.column {
  position:relative;
  top:490px;
  left:120px;
  float:left;
  
}

.column img {
    
    width:20px;
    border-radius:50%;
    border: 1px solid #000;
    opacity: 0.6;
    cursor: pointer;
}

.column img:hover
{
  opacity: 1;
}
.column img:focus
{
  opacity: 1;
}
.container
{
    height:1px;
}
.container img
{
    width:450px;
    height:450px;
    position: relative;
    top:23px;
    left:25px;
}

/* size */
.size
{
    width:500px;
    margin-top:10px;

}
.size p
{
    font-weight:300;
    font-size:15px;
}
.sizes, .sizes2, .sizes3, .sizes4
{
    
    float:left;

}
.sizes2, .sizes3, .sizes4
{
    margin-left:97px;
}

/* product info */

.box
{
    position:relative;
    top:500px;
    left:25px;
    width:450px;
    height:350px;
    overflow:hidden;
    
}
.prodname,.prodname1
{
font-size:22px;
float:left;
}
.price
{
    position:relative;
    top:20px;
    float:right;
    text-align:right;
}

.hidebox
{
    display:none;
    
}

/* add to checkout */
.dokoszyka
{
    background-color:#000;
    color:#fff;
    width:450px;
    height:45px;
    
}

.dokoszyka:hover
{
    cursor:pointer;
    width:450px;
    opacity:0.7;
}
#product_type
{
 width:300px;
}


/*---------------------------------- footer  ---------------------------------------*/

.footer
{
    width:200px;
    margin-top:490px;
}

.fot
{
    font-size:12.5px;
    
}
.fot1
{
    margin-top:5px;
    margin-left:25px;
    font-size:12.5px;
    margin-bottom:25px;
}
}
